@import "text.css";

*
{
	font-family: 			'Open Sans', sans-serif;
	line-height: 			175%;
}

h2
{
	font-size:	20px	;	/*2.25vw*/;
}

ul, p
{
	font-size:	13px	;	/*1.7vw*/;
}

p
{
	text-align:			justify;
	margin:				3% 0;
}