/*------------------------------------------------------------------
INSCRIPCION
-------------------------------------------------------------------*/

#content
{
		margin:				30px	0px;
}

#subscriptionContent
{
		margin: 			3% auto;
		width:				68%;
}

