/*------------------------------------------------------------------
OFERTASEMPLEO.CSS

Ofertas Empleo Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

#offerTable, #offerTable td, #offerTable th
{
	border-collapse: 		collapse;
	border:				0.16em solid White;
	padding: 			2%;
}

#offerTable
{
	width:				100%;
	box-shadow: 			1px 2px 4px #888888;	
	margin:				2% auto;
}

#offerTable th
{
	font-size: 			1.25vw;
	background-color:	#CC6666;
	color:				Black;
}

#offerTable td
{
	font-size: 			1.1vw;
	background:			-webkit-linear-gradient(#E5E5E5, #FAFAFA); 	/* For Safari 5.1 to 6.0 */
	background:			-o-linear-gradient(#E5E5E5, #FAFAFA); 		/* For Opera 11.1 to 12.0 */
	background:			-moz-linear-gradient(#E5E5E5, #FAFAFA); 	/* For Firefox 3.6 to 15 */
	background:			linear-gradient(#E5E5E5, #FAFAFA); 			/* Standard syntax */
}

#offerTable td:hover
{
	background:			-webkit-linear-gradient(#D5D5D5, #F5F5F5); 	/* For Safari 5.1 to 6.0 */
	background:			-o-linear-gradient(#D5D5D5, #F5F5F5); 		/* For Opera 11.1 to 12.0 */
	background:			-moz-linear-gradient(#D5D5D5, #F5F5F5); 	/* For Firefox 3.6 to 15 */
	background:			linear-gradient(#D5D5D5, #F5F5F5); 			/* Standard syntax */
}

.cellPosition
{
	text-align: 		center;
	font-weight: 		bold;
}

.cellDescription
{
	text-align: 		left;
	width:				50%;
}