/*------------------------------------------------------------------
POPUPS.CSS

Popups Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
FIRST LINE 
-------------------------------------------------------------------*/

#trigger {
	position: 				absolute;
left: 38.2%;
top: 48.7%;
width: 15.75%;
}
#trigger2 {
	position: 				absolute;
left: 21.8%;
top: 37.5%;
width: 15.75%;
}
#trigger3{
	position: 				absolute;
left: 30.2%;
top: 21.2%;
width: 15.75%;
}
#trigger4{
	position: 				absolute;
left: 46%;
top: 32.8%;
width: 15.5%;
}

/*------------------------------------------------------------------
SECOND LINE 
-------------------------------------------------------------------*/

#trigger5{
	position: 				absolute;
left: 61.8%;
top: 56.4%;
width: 14.75%;
}
#trigger6{
	position: 				absolute;
left: 55%;
top: 73.4%;
width: 14.75%;
}
#trigger7{
	position: 				absolute;
left: 27%;
top: 80%;
width: 13.3%;
}
#trigger8{
	position: 				absolute;
	left: 					74%;
	top: 					80%;
	width: 					12%;
}

/*------------------------------------------------------------------
THIRD LINE 
-------------------------------------------------------------------*/

#trigger9{
	position: 				absolute;
left: 3.58%;
top: 77.85%;
width: 14%;
}
#trigger10{
	position: 				absolute;
left: 67%;
top: 44%;
width: 14%;
}
#trigger11{
	position: 				absolute;
left: 10.2%;
top: 65.2%;
width: 14%;
}

#trigger12{
	position: 				absolute;
left: 82.2%;
top: 58.4%;
width: 7%;
}

#trigger13{
	position: 				absolute;
left: 77.2%;
top: 71.4%;
width: 7%;
}

#trigger14{
	position: 				absolute;
left: 86.7%;
top: 71.4%;
width: 7%;
}

#trigger15{
	position: 				absolute;
left: 91%;
top: 59.4%;
width: 7%;
}

#trigger16{
	position: 				absolute;
left: 82.2%;
top: 84.4%;
width: 7%;
}

#publicityA1{
	position: 				absolute;
left: 41.9%;
top: 8.9%;
width: 6.6%;
}

#publicityA2{
	position: 				absolute;
left: 49.4%;
top: 13.1%;
width: 6.9%;
}

#publicityA3{
	position: 				absolute;
left: 57.7%;
top: 18%;
width: 5.5%;
}

#publicityA4{
	position: 				absolute;
left: 74.7%;
top: 27.9%;
width: 7.5%;
}

#publicityA5{
	position: 				absolute;
left: 82.4%;
top: 33.4%;
width: 7.6%;
}

#publicityA6{
	position: 				absolute;
left: 92%;
top: 39.5%;
width: 4%;
}

#publicityB1{
	position: 				absolute;
left: 30%;
top: 3.9%;
width: 3.6%;
}

#publicityB2{
	position: 				absolute;
left: 24.3%;
top: 9.2%;
width: 5%;
}

#publicityB3{
	position: 				absolute;
left: 11%;
top: 29%;
width: 7.4%;
}

#publicityB4{
	position: 				absolute;
left: 41.9%;
top: 48.9%;
width: 6.6%;
}


/*------------------------------------------------------------------
EXTERIOR
-------------------------------------------------------------------*/

#triggerAAREII{
	position: 				absolute;
	left: 					73.4%;
	top: 					44.1%;
	width: 					7.6%;
}

/*------------------------------------------------------------------
PROPERTIES
-------------------------------------------------------------------*/

#triggerAAREII, #trigger, #trigger2, #trigger3, #trigger4, #trigger5, #trigger6, #trigger7, #trigger8, #trigger9, #trigger10, #trigger11, #trigger12, #trigger13, #trigger14, #trigger15, #trigger16{
	z-index: 				1;
	height: 				auto;
}  

/*------------------------------------------------------------------
HOVER
-------------------------------------------------------------------*/

#triggerAAREII:hover, #trigger:hover, #trigger2:hover, #trigger3:hover, #trigger4:hover, #trigger5:hover, #trigger6:hover, #trigger7:hover, #trigger8:hover, #trigger9:hover, #trigger10:hover, #trigger11:hover, #trigger12:hover, #trigger13:hover, #trigger14:hover, #trigger15:hover, #trigger16:hover{
	/*Escalar*/
	-webkit-transform:			scale(1.3, 1.3);
	-o-transform:				scale(1.3, 1.3);
	-moz-transform:				scale(1.3, 1.3);
	transform:					scale(1.3, 1.3);

	/*Transicion*/
	-webkit-transition: 		all 0.3s ease-out;  	/* Chrome 1-25, Safari 3.2+ */
    -moz-transition: 			all 0.3s ease-out;  	/* Firefox 4-15 */
   	-o-transition: 				all 0.3s ease-out;  	/* Opera 10.50–12.00 */
    transition: 				all 0.3s ease-out;  	/* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}  

/*------------------------------------------------------------------
POPUPS
-------------------------------------------------------------------*/

#pop-up, #pop-up2, #pop-up3, #pop-up4, #pop-up5, #pop-up6, #pop-up7, #pop-up8, #pop-up9, #pop-up10, #pop-up11, #pop-up12, #pop-up13, #pop-up14, #pop-up15, #pop-up16{
		display: 			none;
        position: 			absolute;
        width: 				25%;
        padding: 			1%;
        background: 		#EEEEEE;
        color:				#000000;
        box-shadow: 		1px 2px 2px #555555;
		font-size: 			90%;
		opacity: 			0.95;
		z-index: 			500
}

#pop-upAAREII
{
		display: 			none;
        position: 			absolute;
        color: 				white;
        width: 				12%;
        padding: 			1%;
        background: 		#B10B0B;
        box-shadow: 		1px 2px 2px #555555;
		font-size: 			90%;
		opacity: 			0.95;
		z-index: 			500;
}

/*------------------------------------------------------------------ 
-------------------------------------------------------------------*/