/*** Font 	***/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

*
{
	padding:				0px;
	margin:					0px;
	font-family: 			'Open Sans', sans-serif;	
}

body{
	/*background-color:		#F0F0F0;*/	
	background-image:		url(../features/images/texture1.png);
}

a
{
	text-decoration:		none;
}

.centered{
	text-align:				center;
}


.wrapper{
	box-shadow: 			2px 2px 20px #000000;
	background-color: 		#CCCCCC;
	margin:					auto; 
	min-height: 			100%;
	height:					auto !important;
	height: 				100%;
	width:					95%; 
}

.wrapperSmall{
	box-shadow: 			2px 2px 10px #000000;
	background-color: 		#CCCCCC;
	margin:					auto; 
	min-height: 			100%;
	height:					auto !important;
	height: 				100%;
	width:					60%; 
}

.box{
	border:					1px solid #BFBFBF;
	background-color:		white;
	padding:				3%;
	height: 				100%;
	font-size: 				1.2vw;
}

.leftSide
{
	float: left;
}

.rightSide
{
	float: right;
}

#nav
{
	background:				-moz-linear-gradient(top, #B10B0B, #600000);
	background:				-webkit-linear-gradient(top, #B10B0B, #600000);
	/*#A11536*/
	margin-bottom:			100px;
	position:				fixed;
	top:					0;
	width:					100%;
	z-index:				1000;
	box-shadow:				0px 1px 1px #000000;	
	text-shadow: 			0.09em 0.09em #777777;
}
	#nav li
	{
		list-style-type:	none;
		height:				40px;
		float:				left;
		width:				16.66%;

	}
	#nav li a
	{
		line-height:		39px;
		color:				white;
		text-align:			center;
		display:			block;

		/* Color Transition */
		-moz-transition:	all .3s ease-out;
		-webkit-transition:	all .3s ease-out;
		transition:			all .3s ease-out;	
	}	
	#nav li a:hover
	{
		background:			-moz-linear-gradient(top, 	#D00000, #600000);
		background:			-webkit-linear-gradient(top, #D00000, #600000);
		box-shadow:			0px 1px 1px #000000;	
	}
	#nav li a:active
	{
		background:			-moz-linear-gradient(top, #CC0018, #100000);
		background:			-webkit-linear-gradient(top, #CC0018, #100000);
		box-shadow:			0px 1px 1px #000000;	
	}

#content{
	margin:					30px	0px;
}
     
#trigger {
	position: 				absolute;
	z-index: 				1;
	left: 					30%;
	top: 					36%;
	width: 					8%;
	height:					auto;
}
#trigger2 {
	position: 				absolute;
	z-index: 				1;
	left: 					24%;
	top: 					53%;
	width: 					11%;
	height: 				auto;
}
#trigger:hover{
	/*Escalar*/
	-webkit-transform:			scale(1.2, 1.2);
	-o-transform:				scale(1.2, 1.2);
	-moz-transform:				scale(1.2, 1.2);
	transform:					scale(1.2, 1.2);

	/*Transicion*/
	-webkit-transition: 		all 0.3s ease-out;  	/* Chrome 1-25, Safari 3.2+ */
    -moz-transition: 			all 0.3s ease-out;  	/* Firefox 4-15 */
   	-o-transition: 				all 0.3s ease-out;  	/* Opera 10.50–12.00 */
    transition: 				all 0.3s ease-out;  	/* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}       
#trigger2:hover{
	/*Escalar*/
	-webkit-transform:			scale(1.2, 1.2);
	-o-transform:				scale(1.2, 1.2);
	-moz-transform:				scale(1.2, 1.2);
	transform:					scale(1.2, 1.2);

	/*Transicion*/
	-webkit-transition: 		all 0.3s ease-out;  	/* Chrome 1-25, Safari 3.2+ */
    -moz-transition: 			all 0.3s ease-out;  	/* Firefox 4-15 */
   	-o-transition: 				all 0.3s ease-out;  	/* Opera 10.50–12.00 */
    transition: 				all 0.3s ease-out;  	/* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
} 
#footer{
		height: 			auto;
		background-image: 	url(../features/images/texture2.png);
		color:				white;
		text-shadow: 		0.09em 0.09em #777777;
}

#pop-up{
		display: 			none;
        position: 			absolute;
        width: 				250px;
        padding: 			10px;
        background: 		#EEEEEE;
        color:				#000000;
        border: 			1px solid #1a1a1a;
		font-size: 			90%;
		z-index:			500;
}

#imgMap{
        border: 			2px solid #1a1a1a;
        z-index:			0;
}


#subscriptionContent
{
		margin: 			3% auto;
		width:				50%;
}


.red{
	color: 					red;
}
.ribbon{
	background-color:		#F0F0F0;
	padding-top:			30px;
	padding-bottom:     	10px;
	width:					100%;
}
.button {
	box-shadow: 			1px 1px 2px Black;
	background:				-moz-linear-gradient(top, #B10B0B, #D00000);
	background:				-webkit-linear-gradient(top, #B10B0B, #D00000);
	border:					0px;
	font-size: 				100%;
	display:				inline-block;
	color:					#ffffff;
	height:					33px;
	line-height:			33px;
	width:					90px;
	text-decoration:		none;
	text-align:				center;
	text-shadow:			1px 2px 0px #810e05;
}
.button:hover {
	background:	    		-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:				-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	background-color: 		#c62d1f;
}
.button:active {
	position:				relative;
	top: 					1px;
}



.Social img
{
	float: 					right;
	height: 				40px;
	width:  				10%;
}


/*
.button2 {
	-moz-box-shadow:inset 0px 0px 10px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2185c5), color-stop(1, #236688) );
	background:-moz-linear-gradient( center top, #2185c5 5%, #236688 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2185c5', endColorstr='#236688');
	background-color:#2185c5;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #236688;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	
	font-style:normal;
	height:25px;
	
	text-decoration:none;
	
	vertical-align: middle;
}
.button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #236688), color-stop(1, #236688) );
	background:-moz-linear-gradient( center top, #236688 5%, #2185c5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#236688', endColorstr='#2185c5');
	background-color:#236688;
}.button2:active {
	position:relative;
	top:1px;
}
*/