/*------------------------------------------------------------------
EMPRESASTYLES.CSS

Empresas Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
TYPOGRAPHY

# Everything: 					Open Sans Regular
# Titles and Headers: 			Oswald and Caps
# Menus: 						Open Sans Bold and Caps
-------------------------------------------------------------------*/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,600");
@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("text.css");

/*------------------------------------------------------------------
RESET
-------------------------------------------------------------------*/

ol, ul, li{
	margin: 				0;
	padding: 				0;
	border: 				0;
}

body, html {
    height: 				100%;
    width: 					100%;
}

body {
	line-height: 			1;
}

p{
	line-height: 			150%;
}

table {
	border-collapse: 		collapse;
	border-spacing: 		0;
}

a
{
	text-decoration: 		none;
}

/*------------------------------------------------------------------
GENERAL
-------------------------------------------------------------------*/

*{	
	font-family: 			'Open Sans', sans-serif;	
}

body{
	background-color: 		#B10B0B;
	height: 				100%;
}

.header{
	min-height:				7em;
	background-image:       url(../features/images/texture1.png);
}

.wrapperMedium{
	box-shadow: 			5px 5px 30px #000000;
	background-color: 		#CCCCCC;
	margin:					auto; 
	min-height: 			100%;
	height:					auto !important;
	height: 				100%;
	width:					95%; 
}

.leftSide
{
	float: left;
}

.rightSide
{
	float: right;
}

.textBoxes
{
	/*border:					1px solid #CCCCCC;*/
	box-shadow:				0px 2px 3px #888888;
	padding:				20px
}

.button
{
	box-shadow: 			1px 1px 2px Black;
	background:				-moz-linear-gradient(top, #B10B0B, #D00000);
	background:				-webkit-linear-gradient(top, #B10B0B, #D00000);
	border:					0px;
	color:					White;
	display:				inline-block;
	font-size: 				100%;
	height:					33px;
	line-height:			33px;
	padding: 				0 3% 3% 3%;
	text-decoration:		none;
	text-shadow:			1px 2px 0px #810E05;
}
	.button:hover
	{
		background:	    	-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C62D1F), color-stop(1, #F24537) );
		background:			-moz-linear-gradient( center top, #C62D1F 5%, #F24537 100% );
		background-color:	#C62D1F;  
	}
	.button:active
	{
		position:			relative;
		top: 				1px;
	}

.footer
{
	background-image:       url(../features/images/texture2.png);
	clear:					both;
	color:					white;
	font-size:				1.1vw;
	height:					4em;	
	padding:				3em 0em; 
	position: 				relative;
	bottom:					0;
	width:					100%;
 	z-index: 				10
}

#content{
	width: 					80%; 
	background-color: 		#FAFAFA; 
	float: 					right;
	min-height: 			100%;
}

#sideMenu{
	background-color: 			#CCCCCC;
	width: 					20%; 
	float: 					left;
	min-height:				100%;
}


#listMenu{

	list-style-type:		none;
}

#listMenu li{
	background:				-webkit-linear-gradient(top, #DADADA, #CFCFCF);
	height:					16%;
	padding:				15px 30px;
}

#listMenu li a{
	color:					black;
	font-size:				1vw;
	display: 				inline-block;
	text-decoration: 		none;
}

#listMenu li:hover{

	background-color: 			#B0B0B0;
	box-shadow:					0px 1px 1px #000000;	

	/*Escalar*/
	-webkit-transform:			scale(1.04, 1.04);
	-o-transform:				scale(1.04, 1.04);
	-moz-transform:				scale(1.04, 1.04);
	transform:					scale(1.04, 1.04);

	/*Transicion*/
	-webkit-transition: 			all 0.3s ease-out;  	/* Chrome 1-25, Safari 3.2+ */
   	-moz-transition: 			all 0.3s ease-out;  	/* Firefox 4-15 */
   	-o-transition: 				all 0.3s ease-out;  	/* Opera 10.50–12.00 */
    	transition: 				all 0.3s ease-out;  
}

.headerLogo{
	width:					20%;
	position: 				relative; 
	padding:				2%;
	left:					2%;
	top:					10%; 
}

.headerInfo{
	margin: 				3.5% 0% 0% 4%
}

#brandName{
	font-size: 				1.95vw
}

#brandSlogan{
	margin-top: 			10%;
	font-size: 				1.4vw
}

#brandWebpage{
	color:					black;
	font-size: 				1vw;
}

.brandBanner{
	width:					100%;
	margin: 				0 auto;
	box-shadow: 			0px 2px 3px #000000;
}

#aareiiLogo{
	position: 				relative; 
	right:					2.25%;
	margin-top:				2.25%;
}


/*------------------------------------------------------------------
STAND GREEN
-------------------------------------------------------------------*/

#maletinGreen
{
	position: 				absolute;
	left:					66%;
	top:					71.5%;
	z-index: 				200;
	width:					9.7%;
}

#agendaGreen
{
	position: 				absolute;
	left:					18.8%;
	top:					42.5%;
	z-index: 				200;
	width:					3.8%;
}

#agendaGreen:hover, #maletinGreen:hover
{	
	cursor: pointer; 
	cursor: hand;

	/*Escalar*/
	-webkit-transform:			scale(1.3, 1.3);
	-o-transform:				scale(1.3, 1.3);
	-moz-transform:				scale(1.3, 1.3);
	transform:					scale(1.3, 1.3);

	/*Transicion*/
	-webkit-transition: 		all 0.3s ease-out;  	/* Chrome 1-25, Safari 3.2+ */
    	-moz-transition: 			all 0.3s ease-out;  	/* Firefox 4-15 */
   	-o-transition: 				all 0.3s ease-out;  	/* Opera 10.50–12.00 */
    	transition: 				all 0.3s ease-out;  	/* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/*------------------------------------------------------------------
STAND RED
-------------------------------------------------------------------*/

#maletinRed
{
	position: 				absolute;
	left:					35.1%;
	top:					70.4%;
	z-index: 				200;
	width:					6.1%;
}

#agendaRed
{
	position: 				absolute;
	left:					13%;
	top:					50.3%;
	z-index: 				200;
	width:					5.4%;
}

#ofertasRed
{
	position: 				absolute;
	left:					15.5%;
	top:					42.2%;
	z-index: 				200;
	width:					4%;
}

#descargasRed
{
/*
	-webkit-filter: drop-shadow(1px 1px 7px white);
    	filter:         drop-shadow(1px 1px 7px white);*/ 
	position: 				absolute;
	left:					14.6%;
	top:					55.6%;
	z-index: 				200;
	width:					3.5%;
}

#maletinRed:hover, #agendaRed:hover, #ofertasRed:hover, #descargasRed:hover
{	
	cursor: pointer; 
	cursor: hand;

	/*Escalar*/
	-webkit-transform:			scale(1.3, 1.3);
	-o-transform:				scale(1.3, 1.3);
	-moz-transform:				scale(1.3, 1.3);
	transform:					scale(1.3, 1.3);

	/*Transicion*/
	-webkit-transition: 		all 0.3s ease-out;  	/* Chrome 1-25, Safari 3.2+ */
    	-moz-transition: 			all 0.3s ease-out;  	/* Firefox 4-15 */
   	-o-transition: 				all 0.3s ease-out;  	/* Opera 10.50–12.00 */
    	transition: 				all 0.3s ease-out;  	/* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/*------------------------------------------------------------------
FIAT
-------------------------------------------------------------------*/

#standFiat
{
		position: 			absolute;
		left: 				34%;
		top:				66.5%;
		z-index: 			200;
		width: 				23.8%;
}

/*------------------------------------------------------------------
ASTORI
-------------------------------------------------------------------*/

#standAstori
{
		position: 			absolute;
		left: 				34%;
		top:				66.5%;
		z-index: 			200;
		width: 				23.8%;
}