/*------------------------------------------------------------------
INTERIOREXTERIOR.CSS

Interior Exterior Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
INTERIOR Y EXTERIOR
-------------------------------------------------------------------*/

#rightBlock{
	padding: 				0% 1% 3% 0%;
	width: 					16%;
}

#leftBlock{
	padding:	 			0% 0% 3% 1%;
	width: 					81%;
}

.titles
{
	margin: 			10% 10%; 
	font-size: 			110%;	
	text-shadow: 		1px 1px 2px #888888; 
}

.sketch
{
    border: 			1px solid #1a1a1a;
    z-index:			0;
    box-shadow: 		2px 2px 6px #555555;
}

#sketchOut
{
	margin: 			4.2% 0 1.2% 0;
	width: 				95%;
	height: 			100%;
}

#pollContent
{
	text-align:			left;  
	font-size: 			82%;
	margin:				-5% 8% -4% 8%;
}
