/*------------------------------------------------------------------
OFERTALABORAL.CSS

Oferta Laboral Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

@import url("tables.css");

/*------------------------------------------------------------------
OVERRIDE
-------------------------------------------------------------------*/

#tableOutput , #tableOutput td, #tableOutput th
{
	border-collapse: 	collapse;
	border:				0.16em solid White;
	padding: 			0.5%;
}

#tableOutput th
{
	font-size: 			1.1vw;
	background-color:	#CC6666;
	color:				Black;
}

#tableOutput td
{
	text-align:			center;
	font-size: 			1vw;
}

.cellWide
{
	width: 				40%
}

