/*------------------------------------------------------------------
PUBLICACIONOFERTAS.CSS

Publicacion Ofertas Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

@import url("tables.css");

textarea, input
{
	border:				solid 1px #AAAAAA ;
	box-shadow: 		2px 2px 5px #AAAAAA;	
}

.block
{
	margin:				3% 0%;
}



