/*------------------------------------------------------------------
PUBLICACIONOFERTAS.CSS

Publicacion Ofertas Stylesheet
Project:	Feria Virtual
-------------------------------------------------------------------*/

@import url("tables.css");

/*------------------------------------------------------------------
OVERRIDE
-------------------------------------------------------------------*/

#tableOutput , #tableOutput td, #tableOutput th
{
	border-collapse: 	collapse;
	border:				0.16em solid White;
	padding: 			0.5%;
}

#tableOutput th
{
	font-size: 			1vw;
	background-color:		#CC6666;
	color:				Black;
}

#tableOutput td
{
	text-align:			center;
	/*font-size: 			0.9vw;*/
	font-size: 			12 px;
}

.cellWide
{
	width: 				40%
}

.wrapperSmall{
	box-shadow: 			2px 2px 10px Black;
	margin:				auto; 
	width:				90%; 
}

.tableInput
{
	border-collapse:	collapse;
	width:				60%;
	font-size: 			90%;
	box-shadow: 		2px 2px 5px #AAAAAA;	
}

/*------------------------------------------------------------------
THIS
-------------------------------------------------------------------*/

textarea
{
	box-shadow: 		2px 2px 5px #AAAAAA;	
}

.block
{
	margin:				3% 0%;
}