
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
img, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 				0;
	padding: 				0;
	border: 				0;
	font-size: 				100%;
	font: 					inherit;
	vertical-align: 		baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: 				block;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
	line-height: 			1;
}

ol, ul {
	list-style: 			none;
}

blockquote, q {
	quotes: 				none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: 		'';
	content: 				none;
}

table {
	border-collapse: 		collapse;
	border-spacing: 		0;
}

a
{
	text-decoration: 		none;
}

/*MINE*/

*{	
	font-family: 			'Impact', sans-serif;
}

#header{
	min-height:				7em;
	background-image:       url(../features/images/texture1.png);
}

#wr{
	
}

#content{
	width: 80%; 
	background-color: #FAFAFA; 
	float: right;
	min-height: 100%;
}

#sideMenu{
	width: 20%; 
	background-color: #CCCCCC; 
	float: left;
	min-height: 100%;
}


#listMenu{
	list-style-type:		none;
}

#listMenu li{
	height:					16%;
	padding:				20px 40px;
}

#listMenu li a{
	color:					black;
	display: 				inline-block;
	text-decoration: 		none;

}

#listMenu li:hover{
	background-color: 		grey;
	-webkit-transition: 	background-color 1.1s ease-out;  	
	-moz-transition: 		background-color 1.1s ease-out;  
	-o-transition: 			background-color 1.1s ease-out;  	
	transition: 			background-color 1.1s ease-out;
}

#footer
{
	/*background-color:		#128aCd;*/
	background-image:       url(../features/images/texture2.png);
	clear:					both;
	color:					white;
	font-size:				80%;
	height:					4em;	
	margin-top: 			-2em;
	padding:				3em 0em; 
	position: 				relative;
	text-align:				center;
	width:					100%;
 	z-index: 				10;
}

